-f https://download.pytorch.org/whl/torch/
torch==1.13.1+cu116
-f https://download.pytorch.org/whl/torchvision/
torchvision==0.14.1+cu116
tensorboard
open3d==0.17.0
# git+https://github.com/cavelab-ugent/pcl-segmentation@main

# open3d==0.16.0
# tensorboard
# git+https://github.com/cavelab-ugent/pcl-segmentation@main
# jupyterlab==3.4.3